:root {
    --primary-color: #6D2323;
    --light-primary-color: #A31D1D;
    --secondary-color: crimson;
    --shadow-color: rgb(0, 0, 0);
    --silver-color: #FEF9E1;
    --text-bg-color: #FEF9E1;
    --light-gray-color: #E5D0AC;
    --email-color: #3d4f86;
    --linkedin-color: #4843aa;
    --linkedin-hover: #577BC1;
    --wpp-color: #036001;
    --wpp-light-color: #3fa031;
    --gap: 3rem;
    --link-projeto-github: #FCC6FF;
    --link-projeto-github-hoover: #EFB6C8;
    --download-cv: #344CB7;
    --download-cv-hover: #000957;
    --input-background: #A31D1D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    color: var(--primary-color);
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 6rem;
    text-transform: uppercase;
}

h2 {
    font-size: 6rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1.2;
}

h3 {
    font-size: 5rem;
}

h4 {
    font-size: 4.5rem;
}

h5 {
    font-size: 4rem;
}

h6 {
    font-size: 3.0rem;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: 3rem;
}

.responsive-table {
    overflow: hidden;
    overflow-x: auto;
}

table {
    min-width: 36rem;
    width: 100%;
    border-collapse: collapse;
}

table caption {
    font-style: italic;
    font-size: 1.6rem;
    text-align: left;
    margin-bottom: 1rem;
}

table td, table th{
    white-space: nowrap;
    padding: 1rem;
    text-align: left;
    border: 0.1rem solid var(--light-gray-color);
}

tfoot td, table th {
    background: var(--light-gray-color);
}

.main-pg {
    background-image: url('../img/main-pg.svg');
    background-size: cover;
    background-position: center center;
    color: var(--text-bg-color);
}

.main-pg h6 {
    margin-bottom: 25px;
}

.main-pg h5 {
    font-size: 3.0rem;
    margin-top: 20px;
}

.main-pg li {
    list-style: none;
}

.main-pg p {
    text-align: justify;
}

.main-pg img {
    margin-top: 2%;
}

.main-pg a {
    color: var(--link-projeto-github);
    margin-top: 5%;
}

.main-pg a:hover {
    color: var(--link-projeto-github-hoover);
}

.white-pg {
    background: var(--silver-color);
    color: var(--primary-color);
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: 10rem var(--gap);
}

.section {
    min-height: 100vh;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    border-bottom: 0.1rem solid var(--light-gray-color);
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.menu-spacing {
    height: 6.5rem;
}

.menu h1 {
    font-size: 2.3rem;
    color: var(--primary-color);
}

.menu h1 a {
    color: inherit;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li a {
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    color: var(--primary-color);
    position: relative;
}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: var(--secondary-color);
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
    width: 50%;
    left: 25%;
}

.intro-cotent {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    min-height: 100vh;
}

.intro-text-content, .intro-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.intro-img img, .intro-img svg {
    max-width: 100%;
    min-height: auto;
}

.intro-text-content a {
    color: var(--download-cv);
}

.intro-text-content a:hover {
    color: var(--download-cv-hover);
}

.top3-content {
    max-width: 64rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
}

.grid h3 {
    font-size: 3rem;
    position: relative;
    padding-left: 5rem;
    padding-bottom: 2rem;
}

.grid h3::before {
    counter-increment: grid-counter;
    /* content: counter(grid-counter); */
    position: absolute;
    font-size: 8rem;
    font-style: italic;
    top: -4rem;
    left: -2rem;
    transform: rotate(5deg);
}

.grid-one-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-height: 100vh;
}

/* .grid-one h4 {
    font-style: italic;
    font-size: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    color: var(--primary-color);
    padding: 0.8rem 1.5rem;
    border-left: 0.2rem solid rgba(0, 0, 0, 0.2);
    border-radius: 0.4rem;
} */

.grid-one h4 {
    font-style: italic;
    font-size: 2rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    color: var(--primary-color);
    padding: 0.8rem 1.5rem;
    background-color: #e6e5e5;
    background-image: linear-gradient(to right, transparent, var(--silver-color) 10%);
    border-radius: 0.4rem;
}

.grid-main-heading {
    margin-bottom: 1rem;
}

.grid-description {
    padding-bottom: 5rem;
}

.gallery-img {
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
}

.gallery-img img {
    transition: all 300ms ease-in-out;
}

.gallery-img img:hover {
    transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
}

.contact-form {
    grid-column: span 2;
}

.contact-form div {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.contact-form img {
    margin-right: 1rem;
    display: inline-block;
    vertical-align: middle;
}

.contact-form .form-grid {
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
}

.contact-form .email-form a {
    color: var(--email-color);
    text-decoration: underline;
    text-decoration-color: var(--email-color);
    text-underline-offset: 2px;
    transition: color 0.3s ease, text-decoration-color 0.3s ease;
}

.contact-form .email-form a:hover {
    color: var(--linkedin-hover);
    text-decoration-color: var(--email-color);
}

.contact-form .wpp-form a {
    color: var(--wpp-color);
    transition: color 0.3s ease, text-decoration-color 0.3s ease;
}

.contact-form .wpp-form a:hover {
    color: var(--wpp-light-color);
}

.contact-form .linkedin-form a {
    color: var(--linkedin-color);
    transition: color 0.3s ease, text-decoration-color 0.3s ease;
}

.contact-form .linkedin-form a:hover {
    color: var(--linkedin-hover);
}

.wpp-form {
    margin-top: -3rem;
}

.linkedin-form {
    margin-top: -3rem;
}

.form-grid legend {
    font-style: italic;
    font-size: 1.6rem;
    margin-bottom: 3rem;
}

.form-group {
    flex: 1 1 32rem;
}

.form-group label {
    display: block;
    margin-bottom: 1rem;
}

.form-group input, .form-group textarea {
    border: none;
    background: var(--primary-color);
    padding: 1.5rem 2rem;
    width: 100%;
    font-size: 3rem;
    outline: none;
    color: #EEEEEE;
}

.form-group input:focus, .form-group textarea:focus {
    box-shadow: 0 0 10px 2px var(--shadow-color);    
}

body .full-width {
    width: 100%;
    flex: 1 1 100%;
}

.form-group button {
    border: 0.5rem solid var(--primary-color);
    background: none;
    color: var(--primary-color);
    padding: 1.5rem 2rem;
    font-size: 3rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.form-group button:hover {
    background: var(--text-bg-color);
    color: var(--primary-color); 
}

.form-group ::placeholder {
    color: var(--light-primary-color);
}

.footer {
    text-align: center;
    font-size: 1.6rem;
}

.heart {
    color: var(--secondary-color);
}

.footer p {
    margin: 0;
    padding: 3rem;
}

.close-menu {
    display: none;
}

.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background: var(--silver-color);
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--primary-color);
    border: 0.1rem solid var(--primary-color);
}

/* Estilização do fieldset */
.form-grid {
    font-size: 2.2rem;
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    padding: 20px;
    background: var(--background-light);
    display: grid;
    gap: 16px;
}

/* Estilização da legenda */
.form-grid legend {
    font-size: 3.2rem;
    font-weight: bold;
    color: var(--primary-color);
    padding: 0 10px;
    text-align: center;
    width: 100%;
}

/* Estilização dos grupos de formulário */
.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--text-dark);
}

/* Inputs e textarea */
.form-group input,
.form-group textarea {
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    font-size: 2rem;
    background: var(--input-background);
    color: var(--text-bg-color);
    transition: border-color 0.3s ease;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: var(--primary-color);
    outline: none;
}

@media (max-width: 800px) {
    .intro-cotent, .grid {
        grid-template-columns: 1fr;
    }

    /* Aqui */
    .form-grid {
        grid-template-columns: 1fr 1fr;
    }

    .form-group.full-width {
        grid-column: span 2;
    }
    /* Aqui */

    .gallery-img {
        width: 100%;
        max-width: 100%;
        max-height: 100%;
    }

    .gallery-img img {
        width: 100%;
    }

    .grid-one h2 {
        font-size: 4.7rem;
    }

    .grid-one-content {
        display: block;
    }

    .menu {
        bottom: 0;
        text-align: center;
    }

    .menu-content, .menu-content ul {
        flex-direction: column;
        justify-content: center;
    }

    .menu-content {
        height: 100vh;
    }

    .menu {
        display: none;
    }

    .close-menu-label::after {
        content: '☰';
        position: fixed;
        z-index: 2;
        top: 2rem;
        right: 2rem;
        background: var(--primary-color);
        color: var(--silver-color);
        font-size: 3rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        padding: 0.5rem;
        cursor: pointer;
    }

    .close-menu:checked~.menu {
        display: block;
    }

    .close-menu:checked~.close-menu-label::after {
        display: block;
        content: '×';
    }

    .menu-spacing {
        display: none;
    }  
    
}

.gif-gallery img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.gif-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

.gif-gallery figure {
    text-align: center;
    max-width: 600px;
}